:root{
    --c0:#060606;
    --c1:#21201f;
    --c2:#383838;
    --c3:#5f605d;
    --c4:#727271;
    --c5:#d8d8d8;
    --c6:#e5e5e5;

    --hi1:#498eff;

    --y1:#ffb238;

    --r1:#960200;
    --r2:#dc493a;

    --h1:#fff;
    --t1:#555;
    --ta:rgba(255,255,255,.5);
}