body{

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    width:100%;
    height: 100%;

    margin: 0;
    padding: 0;
    background: var(--c1);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "abtMain";
    overflow: hidden;
}

p{
    color: var(--h1);
    font-family: Oswald;
    text-align: justify;
    font-size: 18px;
}

a{
    color: var(--h1);
    text-decoration: none;
}

a:hover{
    color: var(--hi1);
}

/* Role Selector */

.roleSelectorWrapper{
    grid-area: abtMain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-image: url("../assets/back_dc.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.roleWrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border: solid 2px var(--c0);
}

.roleContent{
    display: grid;
    grid-template-rows: 40% 10% 10% 40%;
    align-items: center;
    justify-items: center;
    transition: background-color 1s;
}

.roleHeader{
    color: var(--c1);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 900;
    transition: color 1s;
}

.roleIcon{
    background-image: url("../assets/icons/icons_dc.png");
    transition-delay: .1s;
    width: 128px;
    height: 128px;
    align-self: end;
}

.goButton{
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    max-width: 100px;
    font-size: 20px;
    font-weight: 900;
    font-family: Raleway;
    user-select: none;
    text-align: center;
}

.roleImg{
    background-image: url("../assets/portraits/tank_dc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    align-self: end;
    opacity: 0;
}

.rI_dps{
    background-image: url("../assets/portraits/dps_dc.png");
}

.rI_healer{
    background-image: url("../assets/portraits/healer_dc.png");
}

.tankB{
    border: solid 4px var(--hi1);
    color: var(--hi1);
}

.dpsB{
    border: solid 4px var(--r1);
    color: var(--r1);
}

.healerB{
    border: solid 4px var(--g1);
    color: var(--g1);
}

.dpsI{
    background-position: -128px 0;
}
.healerI{
    background-position: -256px 0;
}

.ts_tank {
    text-shadow: -1px -1px 0 var(--hi1), 1px -1px 0 var(--hi1), -1px 1px 0 var(--hi1), 1px 1px 0 var(--hi1);
}
.ts_dps {
    text-shadow: -1px -1px 0 var(--r1), 1px -1px 0 var(--r1), -1px 1px 0 var(--r1), 1px 1px 0 var(--r1);
}
.ts_healer {
    text-shadow: -1px -1px 0 var(--g1), 1px -1px 0 var(--g1), -1px 1px 0 var(--g1), 1px 1px 0 var(--g1);
}

.dpsW:hover{
    background-color: var(--r1);
    transition: background-color 1s;
}
.tankW:hover{
    background-color: var(--hi1);
    transition: background-color 1s;
}
.healerW:hover{
    background-color: var(--g1);
    transition: background-color 1s;
}


.roleContent:hover .ts_tank {
    color: var(--hi1);
    text-shadow: -1px -1px 0 var(--c1), 1px -1px 0 var(--c1), -1px 1px 0 var(--c1), 1px 1px 0 var(--c1);
    -webkit-text-stroke: 2px var(--c1);
    transition: color 1s;
}

.roleContent:hover .ts_healer {
    color: var(--g1);
    text-shadow: -1px -1px 0 var(--c1), 1px -1px 0 var(--c1), -1px 1px 0 var(--c1), 1px 1px 0 var(--c1);
    -webkit-text-stroke: 2px var(--c1);
    transition: color 1s;
}

.roleContent:hover .ts_dps {
    color: var(--r1);
    text-shadow: -1px -1px 0 var(--c0), 1px -1px 0 var(--c0), -1px 1px 0 var(--c0), 1px 1px 0 var(--c0);
    -webkit-text-stroke: 2px var(--c0);
    transition: color 1s;
}

.roleContent:hover > .goButton{
    border: solid 4px var(--c0);
    color: var(--c0);
}

#dpsButton:hover{
    background-color: var(--c0);
    color: var(--r1);
}
#tankButton:hover{
    background-color: var(--c0);
    color: var(--hi1);
}
#HealerButton:hover{
    background-color: var(--c0);
    color: var(--g1);
}

.roleContent:hover > .roleIcon{
    background-position-x: -384px;
}
.roleContent:hover > .dpsI{
    background-position-x: -512px;
}
.roleContent:hover > .healerI{
    background-position-x: -640px;
}

.roleContent:hover .roleImg{
    opacity: 1;
    transition: opacity 1s;
}

/* Dungeon selector */

.dungeonSelectorWrapper{
    max-height: 100%;
    grid-area: abtMain;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("../assets/back_dc.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    grid-gap: 2.5%;
    min-height: 0;
    min-width: 0;
}

.dungeonCard{
    cursor: pointer;
    background-color: var(--c5);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: color 1s;
    transition: box-shadow 1s;
    min-height: 0;
    min-width: 0;
}

.imgWrapper{
    width: 100%;
    max-height: 225px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.returnWrapper{
    width: 48px;
    height: 48px;
    justify-self: end;
}
.returnCard{
    cursor: pointer;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: color 1s;
    transition: box-shadow 1s;
}

.cardContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dungeonHeader{
    color: var(--c1);
    font-family: Raleway;
    font-size: 1.2vw;
    font-weight: 900;
    transition: color 1s;
}

.dungeonCard:hover{
    transition: background-color 1s;
    background-color: var(--c6);
    transition: box-shadow 1s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.dungeonCard:hover .dungeonHeader{
    transition: color 1s;
    color: var(--c3);
}

.returnCard:hover{
    transition: background-color 1s;
    background-color: var(--c4);
    transition: box-shadow 1s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.returnCard:hover .dungeonHeader{
    transition: color 1s;
    color: var(--c5);
}

/* Dungeon View */

.dungeonViewWrapper{
    grid-area: abtMain;
    display: none;
    background-image: url("../assets/back_dc.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: start;
}

.headerWrapper{
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mIcon{
    cursor: pointer;
    background-color: var(--c1);
    max-height: 48px;
    padding: 2px 2px;
    margin-right: 1%;
    border-radius: 20%;
}

.mIcon:hover{
    background-color: var(--c3);
}

.keyHeader{
    color: var(--h1);
    font-family: Oswald;
    font-weight: 800;
    font-size: 26px;
    background-color: var(--c1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px 5%;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    justify-self: center;
    min-width: 400px;
    max-width: 100%;
}

.keysWrapper{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.keyContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;  
    flex-grow: 1;
    padding: 5% 0;
}

.keyCard{
    cursor: pointer;
    margin: 1%;
    background-color: var(--c5);
    display: flex;
    flex-direction: column;
    justify-content: start;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: color 1s;
    transition: box-shadow 1s;
    height: auto;
    max-width: 210px;
    max-height: 300px;
}

.keyCard:hover{
    transition: background-color 1s;
    background-color: var(--c6);
    transition: box-shadow 1s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.keyLine{
    color: var(--c1);
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 2%;
    margin: 0;
}

.videoThumbnail{
    justify-self: flex-start;
    max-width:210px;
    max-height:118px;   
}


@media screen and (max-width: 900px){
    .dungeonSelectorWrapper{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}

@media screen and (max-width: 650px){
    .dungeonSelectorWrapper{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
        overflow-y: scroll;
    }
    .dungeonHeader{
        font-size: 12px;
    }
}

@media screen and (max-width: 400px){
    .sidebar{
        display: none;
    }
    .dungeonSelectorWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13,1fr);
        grid-gap: 2%;
        overflow-y: scroll;
    }
    .dungeonHeader{
        font-size: 12px;
    }
}




